@page {
    size: 8.5in 11in; /* Set the page size to standard letter size */
    margin: 0; /* Set the page margins */
}

@media print {

    body {
        margin: 0 40px 40px 40px;
        height: 100%;
        counter-reset: header;
    }

    @page {
        margin: 20mm;
    }

    .section-margin {
        display: none;
    }

    .watermark {
        display: block;
        position: fixed;
        top: 45%;
        left: 10%;
        transform: rotate(50deg);
        z-index: -1;
        font-size: 80px;
        color: rgba(0, 0, 0, 0.1); /* Light grey and semi-transparent */
        pointer-events: none; /* Ensures the text is non-interactive */
        opacity: 0.6; /* Adjust opacity for visibility */
        white-space: nowrap;
    }

    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        text-align: center;
        font-size: 12px;
        color: gray;
    }

        /* Content that appears on every printed page */
        footer::after {
            content: "Page " counter(page) " of " counter(pages);
        }

    #table-container {
        height: 100%;
        width: 100%;
        border-collapse: collapse;
        margin: 0;
    }

        #table-container thead {
            display: table-header-group; /* Ensures the header is repeated on each page */
        }

        #table-container tfoot {
            display: table-footer-group; /* Ensures the footer is repeated on each page */
        }
}
