
@{
    ViewBag.Title = "Cambiar contraseña";
}

<div class="container shadow p-3 mb-5 bg-white rounded" style="width: 450px">
    <h4 class="bg-dark text-light pl-2 pr-2 pt-2 pb-2 border rounded text-center">Cambiar Contraseña</h4>
    <div class="col-12 pb-3 pt-3 bg-light">
        @using (Html.BeginForm())
        {
            <div class="form-row center-block">
                <div class="col-12 mb-3 text-center">
                    <label for="validationDefault01">Contraseña Actual</label>
                    <input type="password" class="form-control col-12" id="currentPassword" autocomplete="off" required>
                </div>
                <div class="col-12 mb-3 text-center">
                    <label for="validationDefault02">Contraseña Nueva</label>
                    <input type="password" class="form-control col-12" id="newPassword" autocomplete="off" required>
                </div>
            </div>

            <div class="text-center row">
                <div class="col-6">
                    @if (Session["hasEmail"] == "Yes")
                    {
                        <button id="changePass" class="btn btn-danger w-100" type="button">
                            Guardar
                        </button>
                    }
                </div>

                <div class="col-6">
                    <button id="exitWithoutChanges" class="btn btn-outline-secondary w-100" type="button">
                        Salir
                    </button>
                </div>
            </div>

            <span id="message" class="d-block bg-light text-info pl-2 pr-2 pb-1 pt-1 mt-3 mb-0 text-center"></span>

        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">

    $(document).ready(function () {


        $("#changePass").click(function (e) {
            e.preventDefault()
            $("#changePass").attr('disabled', 'disabled')

            const currentPassword = $("#currentPassword").val()
            const newPassword = $("#newPassword").val()

            $.ajax({
                "url": `/User/ChangePassword?currentPassword=${currentPassword}&newPassword=${newPassword}`,
                "type": "POST",
                "success": function (response) {

                    console.log(response);
                    if (response === "200") {
                        $("#message").text('La contraseña ha sido cambiada con exito!')
                    } else {
                        $("#message").text(response)
                        $("#changePass").removeAttr('disabled')
                    }
                }
            });
        });

        $("#exitWithoutChanges").click(function (e) {
            e.preventDefault();

            window.location = '/';
        })
    });


</script>
