
@{
    ViewBag.Title = "Recuperar Contraseña";
}

<div class="container col-6 shadow p-3 mb-5 bg-white rounded">
    <h4 class="bg-dark text-light pl-2 pr-2 pt-2 pb-2 border rounded text-center">Recuperar Contraseña</h4>
    <div class="col-12 pb-3 pt-3 bg-light">
        @using (Html.BeginForm())
        {
            <div class="form-row">
                <div class="col-4 mb-3">
                    <label for="validationDefault01">Código de Empleado</label>
                    <input type="text" class="form-control" id="EmployeeID" autocomplete="off" required>
                </div>
                <div class="col-8 mb-3">
                    <label for="validationDefaultUsername">Correo</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="idEmailDeco">@@</span>
                        </div>
                        <input type="text" class="form-control col-12" id="Email" aria-describedby="inputGroupPrepend2" required>
                    </div>
                </div>
            </div>
            @*<div class="form-row">
                    <div class="col-12 mb-3">
                        <label for="validationDefaultUsername">Correo</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="idEmailDeco">@@</span>
                            </div>
                            <input type="text" disabled class="form-control col-12" id="Email" aria-describedby="inputGroupPrepend2" style="cursor:not-allowed" required>
                        </div>
                    </div>
                </div>*@

            <div class="text-center">
                <button id="recoverPass" class="btn btn-danger w-100" type="button">
                    Recuperar
                </button>
            </div>


            <span id="message" class="d-block bg-light text-info pl-2 pr-2 pb-1 pt-1 mt-3 mb-0 text-center"></span>

        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">

    const emailBy = (employeeId) => {
        $.ajax({
            "url": `/User/GetEmailByEmployeeId/?employeeId=${employeeId}`,
            "type": "GET",
            "success": function (data) {
                console.log(data)
                $("#Email").val(data);
            }
        })
    }

    $(document).ready(function () {

        $(".numericOnly").keypress(function (e) {
            if (String.fromCharCode(e.keyCode).match(/[^0-9]/g)) return false
        });

        $("#EmployeeID").keyup(function () {
            if (this.value.length > 4)
                return false

            if (this.value.length >= 2) {
                emailBy(this.value)
            }
        });

        $("#recoverPass").click(function (e) {
            e.preventDefault()
            $("#recoverPass").attr('disabled', 'disabled')

            const employeeId = $("#EmployeeID").val()
            const email = $("#Email").val()

            $.ajax({
                "url": `/User/RecoverPassword?employeeId=${employeeId}&email=${email}`,
                "type": "POST",
                "success": function (response) {

                    console.log(response);
                    if (response === "200") {
                        $("#message").text('La nueva contraseña ha sido enviada al correo especificado aquí')
                    } else {
                        $("#message").text(response)
                        $("#recoverPass").removeAttr('disabled')
                    }
                }
            });
        });
    });


</script>
