@{
    ViewBag.Title = "Pagina de Inicio";
}


<div class="text-center">

    <img src="~/Content/images/RCLogo.PNG" alt="logo" id="site_logo_id" style="width: 320px" class="mb-3" />

    <span class="d-block" style="font-size: 2.5em; font-weight:bolder">Sistema Repositorio de Documentos</span>

</div>
